
/*Custom Styles*/

body {
	/* background-color: #000000; */
	overflow: hidden;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	font-weight: 400;
}

.btn {
	background-color: rgba(0, 0, 0, 0.02);
}

.loggedIn {
	padding-top: 68px;
}
.ajaxcontain{
	position: relative;
}
.ajaxloader{
	    position: absolute;
	    bottom: 12px;
	    left: 42%;
}
#fountainG{
	position:relative;
	width:48px;
	height:6px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:6px;
	height:6px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.035s;
		-o-animation-duration:1.035s;
		-ms-animation-duration:1.035s;
		-webkit-animation-duration:1.035s;
		-moz-animation-duration:1.035s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:4px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
}

#fountainG_1{
	left:0;
	animation-delay:0.416s;
		-o-animation-delay:0.416s;
		-ms-animation-delay:0.416s;
		-webkit-animation-delay:0.416s;
		-moz-animation-delay:0.416s;
}

#fountainG_2{
	left:6px;
	animation-delay:0.5225s;
		-o-animation-delay:0.5225s;
		-ms-animation-delay:0.5225s;
		-webkit-animation-delay:0.5225s;
		-moz-animation-delay:0.5225s;
}

#fountainG_3{
	left:12px;
	animation-delay:0.619s;
		-o-animation-delay:0.619s;
		-ms-animation-delay:0.619s;
		-webkit-animation-delay:0.619s;
		-moz-animation-delay:0.619s;
}

#fountainG_4{
	left:18px;
	animation-delay:0.7255s;
		-o-animation-delay:0.7255s;
		-ms-animation-delay:0.7255s;
		-webkit-animation-delay:0.7255s;
		-moz-animation-delay:0.7255s;
}

#fountainG_5{
	left:24px;
	animation-delay:0.832s;
		-o-animation-delay:0.832s;
		-ms-animation-delay:0.832s;
		-webkit-animation-delay:0.832s;
		-moz-animation-delay:0.832s;
}

#fountainG_6{
	left:30px;
	animation-delay:0.9385s;
		-o-animation-delay:0.9385s;
		-ms-animation-delay:0.9385s;
		-webkit-animation-delay:0.9385s;
		-moz-animation-delay:0.9385s;
}

#fountainG_7{
	left:36px;
	animation-delay:1.035s;
		-o-animation-delay:1.035s;
		-ms-animation-delay:1.035s;
		-webkit-animation-delay:1.035s;
		-moz-animation-delay:1.035s;
}

#fountainG_8{
	left:42px;
	animation-delay:1.1415s;
		-o-animation-delay:1.1415s;
		-ms-animation-delay:1.1415s;
		-webkit-animation-delay:1.1415s;
		-moz-animation-delay:1.1415s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}


@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}



.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
	border-bottom: 3px solid #fff;
	padding-bottom: 12px;
}

.materialdropdown {
  /* VARS
   ============================== */
  /* MIXINS
  ==================================*/
  /* GENERAL STYLES
     ================================== */
  /* INPUT
     ================================== */
  /* DROPDOWN
     ================================== */
}
.materialdropdown .dropdown-menu {
    min-width: 100%;
    right: 0;
    left: auto;
}
.materialdropdown .card-shadow,
.materialdropdown #dropdown-menu {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.15), 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
}
.materialdropdown #input {
  border: 0;
  background: transparent;
  border-bottom: 2px solid #03a9f4;
  outline: 0;
  display: block;
  text-align: left;
  font-size: 0.95em;
  width: 100%;
  cursor: pointer;
  color: #727272;
  text-decoration: none;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.materialdropdown #input.open {
  opacity: 0;
}
.materialdropdown .button-group {
  position: relative;
  width: 75px;
  margin: 0 auto;
   /*margin-bottom: 2em;
 top: 5.5em;*/
}
.materialdropdown .button-group .marka {
  position: absolute;
  right: 8px;
  top: 10px;
  z-index: 9999;
  cursor: pointer;
}
.materialdropdown .button-group .marka i {
  background: grey !important;
}
.materialdropdown #dropdown-menu {
  position: absolute;
  top: -1em;
  right: 0;
  left: 0;
  margin: 1em auto;
  padding: 1em 1.35em 1em;
  width: 175px;
  list-style: none;
  text-align: left;
  border-radius: 2px;
  background: #fafafa;
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.materialdropdown #dropdown-menu li {
  position: relative;
  line-height: 2.35em;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  opacity: 0;
}
.materialdropdown #dropdown-menu li a {
  color: #222222;
  text-decoration: none;
  font-size: 1em;
}
.materialdropdown #dropdown-menu.open {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.materialdropdown #dropdown-menu.open li {
  -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.materialdropdown .open li:nth-child(1) {
  -webkit-transition-delay: 0.07s !important;
  transition-delay: 0.07s !important;
}
.materialdropdown .open li:nth-child(2) {
  -webkit-transition-delay: 0.14s !important;
  transition-delay: 0.14s !important;
}
.materialdropdown .open li:nth-child(3) {
  -webkit-transition-delay: 0.21s !important;
  transition-delay: 0.21s !important;
}
.materialdropdown .open li:nth-child(4) {
  -webkit-transition-delay: 0.28s !important;
  transition-delay: 0.28s !important;
}
.materialdropdown .open li:nth-child(5) {
  -webkit-transition-delay: 0.35s !important;
  transition-delay: 0.35s !important;
}

.materialdropdown{
	position: absolute;
	top: 0;
	right: 0
}
.menulang a{
	color: #9d9d9d;
padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
 text-decoration: none;
}
.table-width:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.table-width {transition: all 0.4s ease;}
.login .navbar.navbar-inverse.navbar-fixed-top.animate{
	display: none;
}
.nonet{
	z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    color: yellow;
    padding: 5px;
}

#online {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    background: #009D0D;
    border: 2px solid #444;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 4px 1px -1px #000, inset 0 -1px 4px 1px #000;
    -webkit-box-shadow: 0 4px 1px -1px #000, inset 0 -1px 4px 1px #000;
    box-shadow: 0 4px 1px -1px #000, inset 0 -1px 4px 1px #000;
    float: right;
}

.navbar, .navbar.navbar-default {
	box-shadow: 1px 1px 1px 1px #0000002b;
}


/* Temp Table */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
/* Temp Table */


.g-div {
   /* position: absolute;
    top: calc(50% -   6px);
    left: calc(50% -   160px);
    text-align: center;
    width: 320px;
    font-weight: bold;*/
    position: fixed;
    top: 0px;
    left: calc(50% - 160px);
    text-align: center;
    width: 320px;
    font-weight: bold;
    z-index: 1031;
    color: red;
}

.loader-gmail {
    padding: 1px;
    overflow: hidden;

}

.progress {
    width: 320px;
    height: 8px;
    background-image: linear-gradient(135deg, #6187f2 0%, #6187f2 25%, #5679da 25%, #5679da
        50%, #6187f2 50%, #6187f2 75%, #5679da 75%, #5679da 100%);
    background-repeat: repeat;
    background-position: 0px 0px;
    background-size: 16px 16px;
    background-clip: content-box;
    animation: loading 1s linear infinite;
    -o-animation: loading 1s linear infinite;
    -moz-animation: loading 1s linear infinite;
    -webkit-animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
      background-position:0px 0px;
    }
    to {
      background-position: -16px 0px;
    }
}
@-webkit-keyframes loading {
    from {
      background-position:0px 0px;
    }
    to {
      background-position: -16px 0px;
    }
}
@-moz-keyframes loading {
    from {
      background-position:0px 0px;
    }
    to {
      background-position: -16px 0px;
    }
}
@-o-keyframes loading {
    from {
      background-position:0px 0px;
    }
    to {
      background-position: -16px 0px;
    }
}

/*Media Queries*/
@media screen and (max-width: 770px) {
	.menulang a{
		padding-top: 0 !important;
 		line-height: 0 !important;
	}
	.menulang ul li {
    background: #000;
   padding:15px 5px 0;
    text-align: center;
}
#input{
	background-color: transparent;
}
.langul a{

    display: block;
    cursor: pointer;
}
}



/* Cashier Module */


.container.tri-column-wrap {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    height: calc(100vh - 189px);
    padding-top: 0px;
    visibility: hidden;
}

.container.tri-column-wrap {
	
}

.cashbills .container.tri-column-wrap,
.cashierhall .container.tri-column-wrap {
	 visibility: visible;
}

.container.tri-column-wrap>.row {
	height: 100%;
}

.tri {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 0 24px 24px;
    transition: all 0.4s ease-out;
    position: relative;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.cashierhall .tri.col-1 .list-group {
	overflow-x: visible;
	overflow-y: auto;
	height: calc(100% - 72px );
}

.tri.col-1 .list-group p.list-group-item-text  {
	white-space:normal;
	height: 36px;
	overflow: hidden;
	margin-bottom: -16px;
	text-overflow: ellipsis;
}

.tri-filter {
	margin-bottom: 12px;
}

.tri-filter h4 {
	margin: 0;
	text-transform: uppercase;
	opacity: 0.3;
}

.tri-filter .nav-justified > li > a {
	padding: 2px 15px;
	font-size: 12px;
}

.tri-filter .nav-pills > li.active > a,
.tri-filter  .nav-pills > li.active > a:hover,
.tri-filter  .nav-pills > li.active > a:focus {
	color: #fff;

	background-color: #cccccc;
}

.tri.col-2 {
	height:98%;
}

.tri.col-3 {
	padding-top:10px;
	height: 100%;
}


.tri.col-1 .btn-fab {
	position: fixed;
	bottom: 24px;
	left: 24px;
}

.tri.col-1 .btn-fab:hover,
.tri.col-1 .btn-fab:focus {
	background-color: rgb(85, 200, 189);
}

.incentoryactive .tri {
	left: -48%;
}

.compareactive .tri.col-1 {
	left:-50%;
}

.compareactive .tri.col-2 {
	left: -48%;
	width: 97%;
	overflow: hidden !important;
}

.compareactive .tri.col-2 .bill {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.bill .order-table .btn.btn-raised.btn-xs {
	padding: 4px 8px;
	margin: 0;
}

.bill .order-table .btn.btn-raised.btn-xs i {
	font-size: 16px;
}

.payment-procesor {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.91);
    padding: 0px;
    overflow:hidden;
    transition: all 0.4s ease-out;
}



.payment-procesor .btn-lg {
	padding: 24px 12px;
}

.bill {
	position: relative;
	/* padding-bottom: 60px; */
	height: 100%;
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
	/* overflow: hidden; */
}

.bill .invoice-title .material-icons {position: relative;top: 5px;opacity: 0.8;}

.bill-control-mobile {
		display:none;
	}

.bill .meta-data {height: 23%;}

.bill .bill-container {
	height: 61%;
}

.bill .col-md-12 {
	position: static;
	height: 100%;
}



.bill .table {
	margin-bottom: 0;
}

.bill .order-table.list .table {
	margin-top: -30px;
	font-size: 16px;
	font-weight: 400;
}

.bill .order-table.list {
	height: calc(100% - 25px);
	overflow-x: hidden;
	overflow-y: auto;
}

.bill .order-table.list thead {
	position: relative;
	visibility: hidden;
}

.bill .panel-default {
	padding-top: 28px;
	height: 50%;
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
	position: relative;
	padding-bottom: 6px;
}

.bill .panel.panel-default > .panel-heading {
	position: absolute;
	width: 100%;
	top: 0;
}

.bill .panel-body {height: 100%;padding: 15px 15px 0;overflow: hidden;}

.bill .meta-data .btn {
	margin:0;
}

.bill .meta-data .btn.btn-xs {
	padding: 4px 6px;
}

.bill.container-b{
	padding: 24px;
}

.bill.loading >.row {
	filter: blur(3px);
}

.processoractive {
	position: static;
}

/* split module */

.invoice-title h2 {
	font-size: 24px;
}


.meta-data hr {
	margin: 6px;
}

.meta-data address {
	margin-bottom: 0;
}

.processoractive .payment-procesor {
	top: 58px;
	overflow:auto;
	padding: 0 24px;
}

.payment-procesor .form-group {
	margin-top: 0;
}

.bill .progress {
	position:absolute;
	top: -40px;
	left: -19px;
	right: -19px;
	width: auto;
}

.bill.loading .progress {
	top: -19px;
}

.bill-list-split {
    height: 250px;
    overflow: auto;
}

.tri .list-group-item {
	padding: 19px;
	transition: all 0.2s ease;
	cursor: pointer;
}

.tri .list-group-item.well {
		overflow: visible;
		margin-bottom: 0 !important;
		border-left: 5px solid #ffa5a5;

	}

.tri .list-group-item .row-action-primary {
		position: relative;
	}

.list-group-item.well:after {
	content: "";
	height: 0;
	display: block;
	border: 73px solid transparent;
	border-left: 20px solid white;
	width: 0;
	position: absolute;
	top: 0;
	right: -93px;
}

.tri .list-group-item {
	position:relative;
}

.tri .list-group-item .num-ppl {
	font-weight: bold;
	position: absolute;
	color: #fff;
	top: 19px;
	left: 12px;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
    padding: 0;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
    padding: 0;
}

.order-table {
	/* min-height: 249px; */
}

.order-table-head {
	height: 25px;
	overflow: hidden;
}

.bill-control {
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	background: #fff;
	table-layout: fixed;
}

.bill-control .table > tbody > tr:first-child > td {
	border:0;
}

.bill-control .btn {
	padding: 8px 16px;
}

/* inventory styles */

.products-results .col-md-6,
.products-results .col-md-3 {
	position: static;
	padding-left: 0;
}

.products-results {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 46px);
	position: relative;
}

.product-category {
	position: relative;
	cursor: pointer;
	width: auto;
  height: 58px;
	overflow: hidden;
}

.product-category.active {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	background-color: #f1f1f1;
	cursor: default;
	width: 100%;
	z-index: 1000;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.product-category.active > img {
	display: none;
}

.product-category > img {
	width: 100%;
	opacity: 1;
	transition: all 0.4s ease;
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	filter: grayscale(100%);
	min-height: 100%;
	top: 0;
}

.product-category:hover > img {
	opacity: 0.7;
}

.product-category.panel > .panel-heading {
	background-color: rgba(85, 85, 85, 0.61);
	transition: all 0.4s ease;
	position: absolute;
	top: 0;
	width: 100%;
	color: #fff;
	z-index: 10;
	padding: 10px 5px;
}

.product-category.panel.active > .panel-heading {
	background-color: rgba(85, 85, 85, 1);
}

.panel-heading > img {
  height: 50px;
  width: 50px;
  position: absolute;
}

.product-category.panel > .panel-heading a.close-cat {
	float: right;
	position: absolute;
	top: 15px;
	right: 15px;
	display: none;
}

.product-category.panel.active  > .panel-heading a.close-cat {
	display: block;
}

.product-category.panel .panel-heading h4 .btn {
	margin: 0;
	display: none;
}

.product-category.panel.active  > .panel-heading .btn {
	margin: 0;
	display: inline-block;
}

.product-category.panel.active  > .panel-heading .btn i {
    font-size: 16px;
}

.category-content {
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

.product-category.active .category-content {
	visibility: visible;
	height: 100%;
	padding: 86px 24px 12px;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}

.product-category .category-content > .row {
	height: 100%;
	overflow: hidden;
	margin: 0 -15px 0 -30px;
}

.product-category .category-content > .row > div {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.product-category .category-content > .row > div.col-md-1 {
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}


.category-results {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}
.product-panel {
	cursor: pointer;
	position: relative;
	/* background-color: #fff; */
	overflow: hidden;
	/* padding-top: 100%; */
	margin-top: 10px;
	height: 222px;
	/* text-align: center; */
	background-size: cover;
	background-position: top center;
	transition: opacity 0.3s ease;
}

.product-panel h3 {
	background-color: rgba(85, 85, 85, 0.61);
	padding: 18px;
	color: #fff;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	white-space: initial;
}

.product-panel > img {
	min-width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.4s ease;
	/* position: absolute; */
	z-index: 0;
	top: 0;
	display: inline-block;
	/* margin-left: -37%; */
}

.product-panel:hover {
	 opacity: 0.7; 
}

.add-item-form {

}

.add-item-form ul  {
	padding: 0;
	list-style: none;
}

.offinvoice {
	display: none;
}

/* cash bill breakpoints */

@media screen and (max-width: 1440px) {
	.cashbills .page-header,
	.cashbills .page-header h1,
	.cashierhall .page-header,
	.cashierhall .page-header h1{
		margin:0;
		font-size: 28px;
	}

	.container.tri-column-wrap {
		height: calc(100vh - 96px);
	}

	.invoice-title h2,
	.invoice-title h3  {
		margin-top: -2px;
		margin-bottom: 0px;
	}

	.bill .panel-default  {
		height: 80%;
		margin: 0 -7px;
	}

	.payment-procesor .btn-lg {
		padding: 20px 12px;
	}


}
@media screen and (max-width: 1199px) {
	.loggedIn {
    padding-top: 54px;
}

.navbar, .navbar.navbar-default {
		margin-bottom: 0px;
	}


	#main > .container {
		/* position: relative; */
	}

	.route-bar {
		position: relative;
		height: 30px;
		margin-bottom: 12px;
	}

	.route-bar .col-md-12 {
		position: fixed;
		left:0;
		right: 0;
		background: #dfdfdf;
		box-shadow: inset -1px -1px 4px 0px #0000001c;
		/* bottom: 0; */
		top: 54px;
	}

	.route-bar .page-header {
		border-bottom: 0;
		padding-bottom: 0px;
		margin: 0;
		font-size: 28px;
	}
	
	.route-bar .btn.btn-fab.btn-fab-mini {
		font-size: 12px;
		height: 30px;
		width: 30px;
		min-width: auto;
		border-radius: 0;
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
		margin-top: -3px;
		text-transform: uppercase;
	}

	.route-bar .page-header h1 {
		font-size: 18px;
		line-height: 29px;
		height: 30px;
		/* display: -webkit-inline-box; */
		margin: 0;
		text-transform: uppercase;
	}

	.route-bar .page-header small {
		font-size: 16px;
	}

	.tri {
		padding: 0 1px 24px;
	}

	.tri.col-1 {
		padding-right: 24px;
	}

	.tri.col-2 {
		/* padding-right: 24px; */
		padding: 19px 19px 0 19px !important;
	}

	.tri.col-3 {
		padding-left: 24px;
	}
	
	/* split module */ 
	.compareactive .tri.col-2 .bill {
		padding: 0;
		padding-right: 0;
	}
	
	.compareactive .tri.col-2 .bill.container-b {
		width: 50%;
		padding-left: 15px;
	}

	.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td 
	{
		padding: 5px 3px;
	}

}

@media screen and (max-width: 1023px) {
	

	.loggedIn {
		padding-top: 62px;
	}
	.container.tri-column-wrap {
		height: calc(100vh - 95px);
		padding-top: 6px;
	}

	.offinvoice {
		position: absolute !important;
		left: -20px;
		display: inline-block;
	}

	.ng-hide.offinvoice {
		display
	}

	.tri {
		width: 99%;
	}

	.invoiceactive .tri {
		left: -99%;
	}

	.incentoryactive.invoiceactive .tri {
		width: 50%;
		left: -50%
	}

	.compareactive .tri {
		left: -100%;
	}
	.compareactive .tri.col-1 {
		left: -100%;
	}
	.compareactive .tri.col-2 {
		left: -99%;
		width: 98%;
	}

	.tri .list-group-item.well {
		overflow: visible;
		margin-bottom: 0 !important;
		border: 0;
		box-shadow: 0 0 0;
		background: transparent;
	}

	.list-group-item.well:after {
		content: "";
		height: 0;
		display: none;
	}

	.cashbills .page-header {
		padding-bottom: 0;
	}

	.bill .meta-data {
		height: 31%;
	}

	.bill .bill-container {
		height: 63%;
	}

}

@media screen and (max-width: 768px) {
	.offinvoice {
		left: 0;
	}

	.incentoryactive.invoiceactive .tri {
		width: 100%;
		left: -200%
	}

	.incentoryactive.invoiceactive.invoicefocus .tri {
		width: 100%;
		left: -101%;
	}

	.btn-primary.visible-xs {
		display: block !important;
	}

	.compareactive .tri.col-2 {
		width: 200%;
		left: -200%
	}

	.compareactive.invoicefocus .tri.col-2 {
		width: 200%;
		left: -101%;
	}

	.compareactive .tri.col-2 .bill {
		width: 48%;
		position: relative;
	}
}

@media screen and (max-width: 767px) {
	.offinvoice {
		left: 6px;
	}

	.tri .list-group-item {
		padding: 0 !important;
		white-space: initial;
	}

	.invoice-title h2 {
		font-size: 0;
	}

	.invoice-title h2 small {
		font-size: 24px;
	}
	.tri.col-2 {
		padding: 15px !important;
		margin-bottom: 0 !important;
		height: 100%;
	}
	.invoiceactive .tri {
		width: 100%;
		left: -101%;
	}

	.bill .bill {

	}

	.bill-control {
		display: none;
	}

	.bill-control-mobile {
		display:block;
		position: absolute;
		background: rgba(227, 227, 227, 0.3);
		bottom: -15px;
		left: -15px;
		right: -15px;
		width: auto;
		padding: 15px 15px 0;
	}

	.bill-control-mobile .btn {
		width: 100%;
		padding: 10px 0;
	}

	.bill .order-table.list {
		overflow-x: hidden;
		overflow-y: auto;
	}

	.bill .panel-default {
		height: 60%
	}
	.container-a {
		margin-right:4%;
	}
}

@media screen and (max-width: 767px) and (max-height: 700px) {

	.bill .meta-data {
		height: 37%;
	}

}

@media screen and (max-width: 375px) {
	.navbar.navbar-default.navbar-fixed-top.animate {
		width: 75px;
		right: 0;
		left: auto;
	}
	.navbar-brand {
		display: none;
	}
	.loggedIn {
		padding: 13px 0 0 0;
	}

	.container.tri-column-wrap {
		height: calc(100vh - 46px);
	}

	.row-action-primary {
		display: none !important;
	}

	.list-group .list-group-separator:before,
	.list-group .list-group-item .row-content {
		width: 100%;
	}
}


/* inventory styles */

.inventory-wrapper {
	height: calc(100vh - 193px);
	width: 920px;
}

.page-header {
	margin-bottom: 0;
}

.ingredients-wrap,
.sides-wrap {
	position:fixed;
	background-color: #dcdcdc;
	width: 320px;
	right: -768px;
	top: 0;
	z-index: 1050;
	bottom: 0;
	padding: 0px 30px;
	overflow: visible;
	padding-top: 128px;
	height: 100%;
	transition: all 0.4s ease;
}

.ingreactive .ingredients-wrap,
.sides-active .sides-wrap {
	right: 0px;
	box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.34);
}

.ingr-header,
.sides-header {
	text-align: center;
	margin-bottom: 12px;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}

.ingr-header .input-group,
.sides-header .input-group {
	width: 100%
}

.ingr-list-container,
.sides-list-container {
	height: calc(100vh - 198px);
	overflow-x: hidden;
	overflow-y: auto;
}

.ingr-list-item,
.sides-list-item {
	background-color:#fff;
	margin-bottom: 4px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
	transition: all 0.4s ease;
	vertical-align: middle;
}

.ingr-list-item h5,
.sides-list-item h5 {
	font-weight: bold;
	font-size: 16px;
}

.ingr-list-item > div,
.sides-list-item > div {
	display: inline-block;
	vertical-align: middle;
}

.ingr-list-item .text-center {
	padding-top: 19px;
}

.ingr-list-item:hover,
.sides-list-item:hover {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.ingr-list-item .btn-info,
.sides-list-item .btn-warning {
	padding: 8px 16px;
}

.ingr-control,
.sides-control {
	position: absolute;
	bottom: -1px;
	width: 100%;
	left: 15px;
	background-color: #dcdcdc;
	padding-top: 8px;
	padding-bottom: 6px;
}

.ingr-control .btn,
.sides-control .btn {
	width: 100%;
}

.ingr-close {
	position:absolute;
	top: 4px;
	right: -3px;
}

.ingr-activate,
.sides-activate {
	position: fixed;
	bottom: 142px;
	right: -3px;
	z-index: 1025;
	padding: 35px 8px;
}

.sides-activate {
	bottom: 56px;
}

.sides-wrap {
	position:fixed;
	background-color: #dcdcdc;
	width: 320px;
	top: 0;
	bottom: 0;
	z-index: 1050;
}

/* auto complete */

.custom-combobox {
   position: relative;
   display: inline-block;
   margin: 0;
   width: calc(100% + 15px);
   white-space: nowrap;
}

.custom-combobox input {
	width: 80%;
}

.custom-combobox a {
	width: 20%;
}

.custom-combobox-toggle {
   position: absolute;
   top: 0;
   bottom: 0;
   /* height: 36px; */
   margin-left: -1px;
   padding: 8px 12px 9px !important;
}
.custom-combobox-input {
   margin: 0;
   padding-top: 2px;
   padding-bottom: 5px;
   padding-right: 5px;
   height: 35px;
}

.ui-widget.ui-widget-content {
	z-index:9999;
}

.ingredient-search-module {
	padding: 18px 0px;
	background: #ECECEC;
	border-radius: 4px;
}

.ingredient-search-module hr {
	border-top: 1px solid #e4e4e4;
	margin: 0;
}

.ingredient-search-control {
	padding: 0 15px;
	margin-bottom: -;
}

.ingredient-search-control .form-group {
	margin: 0;
	white-space: nowrap;
}

.ingredient-search-control .col-sm-1 span {
	background-color: #b9b9b9;
	display: inline-block;
	width: 100%;
	padding: 9px 6px 8px;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	text-align: center;
	min-height: 36px;
}

.ingredient-search-control .btn {
	margin: 0 -15px;
	padding: 9px 30px 8px;
}

.ingredient-search-container {
	clear: both;
	padding: 15px;
}

.ingredient-search-container .list-group-item {
	background-color: #fff;
	border-radius: 4px;
	margin: 0 0 4px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14);
	padding: 0;
}

.ingredient-search-container .list-group-item .btn {
	padding: 2px 8px;
	margin: 6px 0;
}

.ingredient-search-container .list-group-item .btn i {
	font-size: 18px;
}

.ingredient-search-container .list-group-item span,
.ingredient-search-container .list-group-item strong {
	display: inline-block;
	margin-top: 8px;
}

.ingredient-search-container .list-group-item span span {
	margin-top: 0;
}

.variations-list.ingredient-search-container .list-group-item strong {
	color: #333;
}

.new-cat {
	position: fixed;
	left: 0;
	bottom: 55px;
	padding: 12px;
	background: rgba(189, 189, 189, 0.19);
	z-index: 1034;
}

.new-cat span {
	writing-mode: vertical-rl !important;
}

.new-prod.btn.btn-primary.btn-fab {
	position: fixed;
	bottom: 8px;
	left: 8px;
	width: auto !important;
	border-radius: 16px;
	padding: 15px 15px !important;
	font-size: 14px;
	height: auto;
	z-index: 1035;
}

/*inventory add product flow */


.product-flow-container {
	position: fixed;
	top: 0;
	/* background-color: #009688; */
	z-index:9000;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	transition: opacity linear 0.4s;
	text-align: center;
	padding-top: 72px;
}

.product-flow-header {
	background-color: rgba(255, 255, 255, 0.15);
	padding-bottom: 8px;
	margin-bottom: 24px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.product-flow-header h3 small {
	color: rgba(255, 255, 255, 0.81);
}

.product-flow-viewport {
	height: calc(100% - 48px);
	overflow: auto;
}

.product-type-select {
	width: 100%;
	margin: 72px 0;
}

.product-type-select .btn-group {
	width: 100%;
}

.product-type-select .btn-group .btn{
	width: 50%;
	color: #fff;
	font-size: 16px;
	padding: 18px;
}

.product-flow-container .radioBtn .notActive {
    color: #a7a7a7;
    background-color: #d4d4d4;
}

.product-flow-control {
	position:absolute;
	bottom: 0;
	background-color: #e0e0e0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.24);
	width: 100%;
	text-align: center;
}

.product-flow-control .btn {
	width: 100%;
}

.product-flow-container.ng-hide {
  opacity: 0;
  top: -100000px;
  display: block !important;
  bottom: auto;
}
.product-flow-container .ingredient-search-module {
	color: #333;
}
.form-product,
.form-retail {
	background-color: rgb(255, 255, 255);
	padding: 24px 0 90px;
	border-radius: 2px;
	color: #333;
}

@media screen and (min-width: 768px) {
	.ingredients-wrap,
	.sides-wrap {
		width:768px;
	}

	.ingr-activate {
		bottom: 312px;
	}

	.ingr-activate span,
	.sides-activate span {
		writing-mode: vertical-rl !important;
		display: inherit;
	}

	.product-flow-control .btn {
		width: 100%;
		padding: 12px 0;
	}
}


/* orders monitor styles */

.orders-container {
	height: calc(100vh - 120px);
	overflow-x: hidden;
	overflow-y: auto;
}

.orders-masonry .masonry-brick .panel-body {
	font-size: 18px
}

.orders-masonry .masonry-brick .btn {
	width: 100%;
}

.orders-masonry .masonry-brick {
	margin: 15px
}

.orders-masonry .masonry-brick .panel {
	width: 100%;
}

@media screen and (min-width: 414px) {
	.orders-masonry .masonry-brick .panel {
		width: 320px;
	}
}

@media screen and (min-width: 1023px) {
	.orders-masonry .masonry-brick {
		width: 30%;
	}

	.orders-masonry .masonry-brick .panel {
		width: 100%; 
	}


}


/* hall styles */

.cashierhall .tri.col-1 {
	width: 100%;
}

.tableactive .tri.col-1 {
	width: 49%;
}

.hall-container {
	height: 100%;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}

.hall-bill-container {
	background-color: rgba(245, 243, 243, 0.92);
	position: absolute;
	top: 28px;
	padding: 12px;
	left: 12px;
	right: -12px;
	bottom: 4800px;
	overflow: auto;
	transition: opacity 0.4s ease;
	opacity: 0;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);
	pointer-events: none;
}

.tableactive .hall-bill-container {
	bottom: 4px;
	opacity: 1;
	pointer-events: initial;
}

.table-box {
	/* height: 76px; */
	/* background-color: #4ca0e8; */
	margin-bottom: 24px;
	cursor: pointer;
	transition: all 0.4s ease;
	position: relative;
}

.table-box > span {
	position: absolute;
	left: 50%;
	top: 47%;
	font-weight: bold;
	color: #fff;
	font-size: 24px
}

.table-box > svg {
	width: 100%;
	height: 138px;
}

.table-box:hover {
	background-color: rgba(255, 255, 255, 0.59);
}

.hall-map-container {
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	width: 606px;
	height: 512px;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.24);
	position: relative;
	transform: scale(1);
	transform-origin: top;
	transition: opacity 0.4s ease;
	opacity:1 ;
	/* margin-top: 262px; */
}

.tableactive .hall-map-container {
	opacity: 0.4;
}

.hall-map-container:after {
	content: "";
	display: block;
	transition: background 0.6s ease;
	background: #0000;
}

.tableactive .hall-map-container:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0000001f;
}

@media screen and (min-height: 512px) {

	.hall-map-container {
		transform: scale(1.3);
	}
}

.tables-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

.table-unit {
	overflow: hidden;
	position: relative !important;
	width: 132px;
}

.table-width {
	width: 132px;
	overflow: hidden;
	height: 90px;
	position: relative;
}

.table-unit img {
	width: 172%;
	margin-left: -37%;
	height: 78px;
	margin-top: 7px;
}

.bar-item img {
	width: 172%;
	margin-left: -37%;
	height: 64px;
	margin-top: 7px;
}

.table-unit span {
	color: #fff;
	position: absolute;
	bottom: 40%;
	left: 42%;
	font-weight: bold;
	text-shadow: 0px 0px 2px #000000b0;
}

.table-width.bar-item span {
	bottom: 40%;
	left: 32%;
}

.table-control {
	padding: 0 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.table-control .btn {
	width: 100%;
	padding: 8px;
}

.cashierhall .list-group-item.well:after {
	display: none;
}


.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.new-cat1{
    background: rgba(189, 189, 189, 0.19);
    z-index: 1034;
    width: auto;
    padding: 12px 8px;
    writing-mode: vertical-rl !important;
    /* margin-left: -9px; */
}

.new-cat1:focus,
.new-cat1:active,
.new-cat1:hover {
	background-color: rgb(255, 87, 34) !important; 
	color: rgb(255, 255, 255) !important;
}

.new-cat1 span {
	writing-mode: vertical-rl;
	/* text-orientation: upright; */
	display: inline;
}

.new-cat1 .btn {
	display: block;
	padding: 4px 6px;
	font-size: 10px;
}

.new-cat1 i {
	display: block;
}

.new-cat2{
    /*left: 0;
    bottom: 88px;*/
    padding: 0px;
    margin-top:80px;
     -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 1034;
    color: white;
    background-color: #f35421
}


/* Shift Panel */

.shift-panel .btn {
	width: 100%;
}


.sold-out {
    pointer-events: none;
    cursor: none;
    opacity: 0.3;
}

.table-name{
    font-weight:bold;
    color:black;
}

/* Dashboard widgets */

.widget-panel {

}

.widget-panel h2 {
	margin: 0 0 12px 0;
}

.low-stock-item {
	display: inline-block;
	padding: 24px;
	border-radius: 12px;
	margin: 0 0 7px 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.widget-panel .list-unstyled li {
	margin-bottom: 12px;
	font-size: 18px;
}

.widget-panel .list-unstyled .badge {
	float: right;
	font-size: 16px;
	padding: 5px 10px;
}


/* ng transition for ui router */

.page[ui-view]{filter: invert;}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
 
}

[ui-view].ng-enter {

  opacity: 0;
   -webkit-transition:all 2s ease-in-out;
	-moz-transition:all 2s ease-in-out;
	-o-transition:all 2s ease-in-out;
	transition:all 2s ease-in-out;
}

[ui-view].ng-enter-active {
  
  opacity: 1;
 
}

[ui-view].ng-leave {
	 -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
  opacity: 1;
 
}

[ui-view].ng-leave-active {

  opacity: 0;
  visibility:hidden;
 
}

/* list loader */ 

.list-loader {
	 text-align: center;
	 padding: 32px; 0
}

.list-loader > i {
  animation-name: pulse2;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  opacity: 0.5;
  font-size: 36px;
}


 @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes pulse2 {
 0% {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}


::selection {
    border: 1px solid #fff;
    background-color: transparent;
}

* {
    outline: none !importaa