<section id="main">


<div class="col-xs-3 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5"><button id="signIn_1" type="submit" class="btn btn-block signin" ng-click="core.logout()">{{ 'LOGOUT' | translate }}</button></div>

<div class="container">
    <div class="row phonepad">
        <div class="col-md-6 col-md-offset-3 phone">
            <div class="row1">
            <div class="bgsupp">
              
               <div class="ajaxcontain"> 
                <input type="password" name="name" id="telNumber" class="form-control tel" ng-model="vm.user.auth" ng-change="vm.auth(vm.user.auth)" ng-disabled="vm.disabled"/>
                <div class="ajaxloader">
                        <div id="fountainG" ng-if="vm.loader">
                            <div id="fountainG_1" class="fountainG"></div>
                            <div id="fountainG_2" class="fountainG"></div>
                            <div id="fountainG_3" class="fountainG"></div>
                            <div id="fountainG_4" class="fountainG"></div>
                            <div id="fountainG_5" class="fountainG"></div>
                            <div id="fountainG_6" class="fountainG"></div>
                            <div id="fountainG_7" class="fountainG"></div>
                            <div id="fountainG_8" class="fountainG"></div>
                        </div>
                    </div>
                </div>
                    <div class="num-pad">
                    <div class="span4">
                        <div class="num">
                            <div class="txt">1
                               <button class="btn btn-info btn-fab btn-raised">1</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                2 <button class="btn btn-info btn-fab btn-raised">2</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                3 <button class="btn btn-info btn-fab btn-raised">3</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                4 <button class="btn btn-info btn-fab btn-raised">4</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                5 
                                <button class="btn btn-info btn-fab btn-raised">5</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                6 <button class="btn btn-info btn-fab btn-raised">6</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                7 <button class="btn btn-info btn-fab btn-raised">7</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                8 <button class="btn btn-info btn-fab btn-raised">8</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                9 <button class="btn btn-info btn-fab btn-raised">9</button> 
                            </div>
                        </div>
                    </div>
                    <div class="span4 notvisib">
                        <div class="num">
                            <div class="txt">
                                
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                0 <button class="btn btn-info btn-fab btn-raised">0</button> 
                            </div>
                        </div>
                    </div> 
                    <div class="span4 notvisib">
                        <div class="num">
                            <div class="txt">
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="clearfix">
                    </div>
                       <!--  <a href="#" ng-click="vm.auth(vm.user.auth)" class="btn btn-success btn-block flatbtn">LogIn</a> -->
                </div>
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>
</div>

</section>
<script type="text/javascript">
	$(document).ready(function () {

    $('.num').click(function () {

    	var telNumber = $('#telNumber');
    	if(telNumber.val().length < 4){
    		var num = $(this);
	        var text = $.trim(num.find('.txt').clone().children().remove().end().text());
	        $(telNumber).val(telNumber.val() + text);
	        telNumber.trigger('input');
    	}
        
    });

});

</script>

