<section id="main">

    <section class="container" translate-namespace="EMPLOYEEPROFILE">
	   <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
	       
            <p class="lead text-center" translate> .HEADING</p>
			
			<form ng-submit="vm.change()" class="form-horizontal">
			  <fieldset>
				 <div class="form-group">
				    <label for="Firstname">Firstname</label>
				    <input type="text" class="form-control" id="Firstname" ng-model="vm.employee.firstname">
				 </div>
				 
				  <div class="form-group">
				    <label for="Lastname">Lastname</label>
				    <input type="text" class="form-control" id="Lastname" ng-model="vm.employee.lastname">
				 </div>
				 
				 <div class="form-group">
				    <label for="email">Email</label>
				    <input type="email" class="form-control" id="email" ng-model="vm.employee.email">
				 </div>
				 
				 <div class="form-group">
						<label for="Pin">Pin</label>
						<input type="text" class="form-control" id="Pin" ng-model="vm.employee.pin">
				 </div>
					<div class="form-group">
						<label for="Phone">Phone</label>
						<input type="text" class="form-control" id="Phone" ng-model="vm.employee.phone">
					</div>
					<div class="form-group">
						<label for="Role">Role</label>
						<input type="text" class="form-control" id="Role" ng-model="vm.employee.role"> 
					</div>
					<div class="form-group">
						<label for="Dateofbirth">Dateofbirth</label>
						<input type="text" class="form-control" id="Dateofbirth" ng-model="vm.employee.dateofbirth">
					</div>
					<div class="form-group">
						<label for="Position">Position</label>
						<input type="text" class="form-control" id="Position" ng-model="vm.employee.position"> 
					</div>
					 <div class="form-group">
					<button type="submit" name="submitbtn" class="btn btn-default btn-raised" >Update</button>
					 </div>
			  </fieldset>
			</form>

            
					
					
					

					
			</div>
				<!-- DivTable.com -->
				</div>
        </div>
    </section>

</section>


